//colors
$orange: #e45028;
$yellow: #f9b43b;
$black: #2f3234;
$red: #e35028;

@import "layout/normalize";
@import "layout/fonts";
@import "layout/layout";
@import "onepagescroll";

//blocks

@import "blocks/hero";
@import "blocks/best";
@import "blocks/burgers";
@import "blocks/team";
@import "blocks/menu";
@import "blocks/reviews";
@import "blocks/order";
@import "blocks/map";

//media
@import "media/desktop";
@import "media/laptop";
