@font-face {
    font-family: 'gagalin';
    src: url('../fonts/Gagalin-Regular.woff') format('woff');
    font-weight: 400; /*REGULAR*/
    font-style: normal;
}

@font-face {
    font-family: 'lifehack';
    src: url('../fonts/Lifehack-Medium.woff') format('woff');
    font-weight: 400; /*REGULAR*/
    font-style: normal;
}

@font-face {
    font-family: 'ubuntu';
    src: url('../fonts/Ubuntu-Light.woff') format('woff');
    font-weight: 300; /*LIGHT*/
    font-style: normal;
}

@font-face {
    font-family: 'ubuntu';
    src: url('../fonts/Ubuntu-Light.woff') format('woff');
    font-weight: 400; /*REGULAR*/
    font-style: normal;
}

@font-face {
    font-family: 'ubuntu';
    src: url('../fonts/Ubuntu-Medium.woff') format('woff');
    font-weight: 500; /*MEDIUM*/
    font-style: normal;
}

@font-face {
    font-family: 'ubuntu';
    src: url('../fonts/Ubuntu-Bold.woff') format('woff');
    font-weight: 600; /*BOLD*/
    font-style: normal;
}
