.menu {
  background: url('../../img/bg/menu-bg.jpg') center center no-repeat;
  background-size: cover;
  position: relative;
}

.menu__title {
  position: absolute;
  top: 10%;
  left: 10%;
}

.menu-accordeon {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: stretch;
}

.menu-accordeon__item {
  height: 100%;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  transition: .3s;

  &.active {
    
    .menu-accordeon__trigger-title {
      color: $yellow;
    }
  }
}

.menu-accordeon__item:last-child {
  .menu-accordeon__text {
    padding-right: 70px;
  }
}


.menu-accordeon__trigger {
  height: 100%;
  width: 80px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.menu-accordeon__trigger-title {
  font-family: 'gagalin';
  font-size: 40px;
  color: #fff;
  margin: auto;
  transform: rotate(-90deg);
  text-align: center;
  white-space: nowrap;
  align-self: center;
  width: 650px;
  margin-top: -40px;
  height: 80px;
  position: absolute;
  top: 50%;
  left: -275px;
}

.menu-accordeon__content {
  background: rgba(47, 50, 41, 0.93);
  float: left;
  width: 0;
  height: 100%;
  color: #fff;
  overflow: hidden;
}

.menu-accordeon__text {
  color: #fff;
  font-family: 'ubuntu';
  font-weight: 300;
  font-size: 14px;
  width: 550px;
  padding: 60px 33px;
}
